// ページ全体
.app {
  background-color: #FAFAFA;
  max-width: 1000px;
  margin: 0 auto;

  & .header {
    margin-top: 30px;

    &-nav {
      margin: 0;
      padding: 0;
      background-color: white;
      display: flex;
      padding-bottom: 5px;
      
      & li {
        list-style-type: none;
        padding-right: 15px;
        
        & a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  & .content {
    // コンテンツ部分全体
  }
}
