.profile {
  display: flex;

  & .part {
    flex: 1;
  }

  & .pro-left {
    & img {
      width: 60%;
    }
  }

  & .pro-right {
    
  }
}

@media screen and (max-width:780px){
  .profile {
    display: block;
  }
}